.form {
    padding: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-width: 500px;

    &__header {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}
