@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.transactions {
    @include column-flex(20px);
    width: 100%;
}

.transactions-table {
    font-size: 12px;
    width: 100%;

    &__header-row {
        color: $grayText;
        padding: 0 0;

        th {
            font-weight: 300;
        }
    }

    &__row {
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
        justify-items: start;
        border-bottom: 1px solid $grayBorder;
        padding: 16px 20px;
    }
}
