@import 'styles/mixins';
@import 'styles/colors/colors';

.transactions {
    @include column-flex(20px);
    width: 100%;
}

.transactions-table {
    font-size: 12px;
    max-width: 100%;

    &__header-row {
        color: $grayscale-6;
        padding: 0 0;

        th {
            font-weight: 300;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: minmax(60px, 15%) minmax(60px, 8%) minmax(60px, 18%) minmax(60px, 6%) 
        minmax(60px, 6%) minmax(60px, 1fr) minmax(60px, 8%) minmax(30px, 4%);
        column-gap: 16px;
        align-items: center;
        justify-items: start;
        border-bottom: 1px solid $grayscale-4;
        padding: 16px 20px;
    }
}
