@import 'styles/mixins';
@import 'styles/colors/colors';

.transactions {
    @include column-flex(20px);
    width: 100%;
}

.transactions-table {
    max-width: 100%;

    &__header-row {
        color: $grayscale-6;
        padding: 0 0;

        th {
            font-weight: 300;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: minmax(60px, 15%) minmax(60px, 8%) minmax(60px, 18%) minmax(60px, 6%) 
        minmax(60px, 6%) minmax(60px, 1fr) minmax(50px, 8%) minmax(50px, 4%);
        column-gap: 16px;
        align-items: center;
        justify-items: start;
        border-bottom: 1px solid $grayscale-4;
        padding: 16px 20px;
    }
}

.mobile-table {
    display: none;
}

@media screen and (max-width: 900px) {
    .transactions-table {
        display: none;
    }

    .item-type {
        &--withdraw {
            color: $red-3;
        }
    
        &--income {
            color: $green-3;
        }
    }

    .item-status {
        width: 90px;
        padding: 2px;
        border-radius: 10px;
        text-align: center;
        
        &--processing {
            color: $orange-3;
            background-color: $orange-6;
        }
    
        &--confirmed {
            color: $green-3;
            background-color: $green-6;
        }
    
        &--unpayed {
            color: $red-3;
            background-color: $red-6;
        }
    }

    .mobile-table {
        display: flex;
        flex-direction: column;
        padding: 12px;

        .transaction-item {
            display: flex;
            flex-direction: column;
            border-bottom: solid 1px $grayscale-2;
            padding: 12px 0;

            .item-first-row,
            .item-second-row {
                display: flex;
                justify-content: space-between;
            }

            .item-first-row {
                margin-bottom: 8px;
            }

            .item-type-amount-coin {
                display: flex;
                column-gap: 4px;
                
            }
        }
    }
}