<nz-page-header
  class="site-page-header"
  nzTitle="Patterns"
  nzSubtitle="Active Groups"
></nz-page-header>
<nz-spin nzTip="Loading..." [nzSpinning]="isLoading">
<div nz-row [nzGutter]="8">
  <ng-container *ngFor="let item of activeGroups">
    <div nz-col [nzSpan]="8" class="pattern__card">
      <nz-list nzBordered nzSize="small">
        <nz-list-header>Группа №{{item.id}}</nz-list-header>        
        <nz-list-item *ngFor="let tg of sortByIntervals(item.ACTIVE_GROUP_TRIGGERs)">            
            <span [class.greenbg]="tg.type == 'OPEN'" [class.redbg]="tg.type == 'CLOSE'">{{ tg.type }}</span>
            <div>
              <nz-tag>
                <span nz-icon nzType="box-plot" nzTheme="outline"></span>
                {{ tg.intervals }} / {{ tg.sigma }} 
              </nz-tag>
              <nz-tag>
                <span nz-icon nzType="fast-backward" nzTheme="outline"></span>
                {{ tg.back }} 
              </nz-tag>
              <nz-tag>
                <span nz-icon nzType="step-backward" nzTheme="outline"></span>
                {{ tg.prev }}
              </nz-tag>
              <nz-tag>
                <span
                  nz-icon
                  nzType="vertical-align-bottom"
                  nzTheme="outline"
                ></span>
                {{ tg.zone }}
              </nz-tag>
              <a
                nz-popconfirm
                nzPopconfirmTitle="Are you sure delete this condition?"
                nzPopconfirmPlacement="bottom"
                class="hover-pointer"
                (nzOnConfirm)="removeCondition(tg.id)"                  
                ><span
                  nz-icon
                  nzType="delete"
                  nzTheme="outline"                    
                ></span
              ></a>
            </div>
          </nz-list-item>
          <nz-list-footer>
            <a (click)="openConditionModal(item.id)">Add Condition</a>
            
          </nz-list-footer>
      </nz-list>
    </div>
  </ng-container>
</div>
</nz-spin>