@import 'styles/colors/colors';
@import 'styles/mixins';

.password-postfix {
    padding: 0 8px;
    width: fit-content;
    cursor: pointer;
    transition: fill 0.25s;
    fill: $grayscale-11;

    &:hover {
        fill: $accent-3;
    }
}

.register-action {
    display: flex;
    column-gap: 1ch;
}
