@import 'src/styles/mixins';

.landing-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.landing-container {
    @include column-flex(200px);
    padding: 32px;
    max-width: 1360px;
    width: 100%;
    padding-top: 50px;
    z-index: 1;

    @include mobile {
        padding: 16px;
    }
}

.popular-coins {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 100%;
}

.coins {
    display: flex;
    justify-content: space-between;
}

.coin {
    box-shadow: 6.12064px 6.12064px 6.12064px rgba(161, 118, 193, 0.25), 0px 0px 15.3016px rgba(161, 118, 193, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    max-width: 219px;
}

@media screen and (max-width: 1200px) {
    .landing-container {
        row-gap: 150px;
    }
}
