@import 'styles/colors/colors';
@import 'styles/variables';
@import 'styles/mixins';


.dashboard {
  display: grid;
  grid-template-columns: $dashboard-control-menu-width 1fr;
  column-gap: 16px;
  row-gap: 16px;
  padding-top: $header-height;
}

.control-menu {
  @include column-flex;

  align-items: center;
  width: fit-content;
  padding: 16px 0px;
  height: fit-content;
  flex-grow: 1;
  row-gap: 8px;
  width: 100%;

  .link {
    width: 100%;
    padding: 16px 20px;
    transition: $default-transition all;
    border-left: 2px solid transparent;
    color: $grayscale-11;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &--active {
      border-left: 2px solid $accent-3;
      color: $accent-3;
    }

    &--active {
      background-color: $accent-6;
    }

  }

  @include mobile {
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
    align-items: baseline;
    max-width: 280px;
    justify-content: center;
    justify-self: center;

    &::after {
      background: none;
    }
  }
}

.separator {
  width: 90%;
  height: 1px;
  margin: 20px 0px;
  background-color: $grayscale-2;
}

@media screen and (max-width: 1200px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .control-menu {
    margin-bottom: 16px;
    flex-direction: row;
    width: auto;

    box-shadow: none !important;
    background: transparent !important;
    overflow-x: auto;

    .link {
      white-space: nowrap;
      text-align: center;
      border-radius: 16px;
      border: 2px solid transparent;
      margin: 0 8px;
      padding: 12px;

      &:hover,
      &:focus,
      &--active {
        border-color: $accent-3;
        color: $accent-3;
      }

      &--active {
        background-color: $accent-6;
      }
    }

    &::after {
      display: block;
      content: '';

      position: absolute;
      right: 0;

      width: 70px;
      height: 70px;
      background: linear-gradient(90deg, #00000000 0%, $grayscale-1 100%);
    }
  }
}
