@import 'styles/colors/colors';
@import 'styles/variables';

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard {
    display: flex;
    column-gap: 8px;

    .dashboard-content {
        flex-grow: 2;
    }
}

.control-menu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 285px;
    flex-grow: 1;
    padding: 20px 0px;
    align-items: center;
    height: fit-content;
    row-gap: 10px;

    .link {
        width: 100%;
        padding: 16px 20px;
        transition: $default-transition all;
        border-left: 2px solid transparent;
        color: $grayscale-11;

        &:hover,
        &:focus,
        &--active {
            border-left: 2px solid $accent-3;
            color: $accent-3;
        }

        &--active {
            background-color: $accent-6;
        }
    }
}

.separator {
    width: 90%;
    height: 1px;
    margin: 20px 0px;
    background-color: $grayscale-2;
}
