@import 'styles/colors/colors';
@import 'styles/mixins';

$one-column-bp: 800;
$header-bp: 420;

.container {
  @include column-flex(16px);
}

.header {
  display: flex;
  column-gap: 16px;
  justify-content: space-between;

  @include max-width($header-bp) {
    flex-direction: column;
    row-gap: 16px;
  }

  &__buttons {
    @include align-center-row-flex(16px);
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;

  @include max-width($one-column-bp) {
    grid-template-columns: 1fr;
  }
}

.card-header {
  color: $grayscale-6;
}

.balance,
.transactions {
  @include column-flex(16px);

  padding: 16px;
}

.transactions__header {
  display: flex;
  justify-content: space-between;
}

.chart {
  width: 100%;
  max-width: calc($dashboard-max-width / 2);

  // left/right pad (16px) + gap / 2
  @include max-width($early-laptop-bp) {
    max-width: calc(50vw - 24px);
  }

  // left/right pad (16px) * 2
  @include max-width($one-column-bp) {
    max-width: calc(100vw - 32px);
  }
}
