@import 'styles/colors/colors';
@import 'styles/mixins';

.tools {
  width: 100%;
}

.tools-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.tools-header-buttons {
  @include align-center-row-flex(16px);
}

.charts {
  display: flex;
  align-items: flex-start;
}

.balance,
.transactions,
.chart {
  flex-grow: 1;
  width: 50%;
  padding: 16px;
  margin: 8px;
}

.balance-and-transactions {
  display: flex;

  .balance {
    @include column-flex(16px);

    .balance-header {
      color: $grayscale-6;
    }
  }

  .transaction-table-wrapper {
    height: 90%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grayscale-4;
      border-radius: 2px;
    }
  }

  .transactions {
    max-height: 210px;

    .transactions-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    .header-show-all {
      color: $accent-3;

      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  .tools-header {
    flex-direction: column;
    align-items: flex-start;

    .tools-header-buttons {
      margin: 8px 0 0;
    }
  }

  .charts,
  .balance-and-transactions {
    flex-direction: column;
  }

  .balance,
  .transactions,
  .chart {
    width: 100%;
    margin: 8px 0;
  }

  .transactions {
    .transaction-table-wrapper {
      height: 135px;
    }
  }
}
