@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.back-action {
    display: flex;
    align-items: center;
    transition: margin 0.35s;
    margin-left: 0px;

    @include size-svg(30px, 30px);
    svg {
        transform: rotate(90deg);
    }

    &:hover {
        margin-left: -16px;
    }
}

.form {
    margin-top: 16px;
    max-width: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.address {
    &__wrapper {
        display: flex;
        column-gap: 8px;
        align-items: center;
    }

    // toDo: заменить на .subtitle
    &__code {
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
    }
}

.disclaimer {
    @include column-flex(8px);
    &__item {
        list-style: disc inside;
        span {
            font-weight: 500;
        }
    }
}
