@import 'styles/colors/colors';
@import 'styles/mixins';

.password-postfix {
    padding: 0 8px;
    width: fit-content;
    cursor: pointer;
    transition: fill 0.25s;
    fill: $grayscale-11;
    max-width: 42px;

    &:hover {
        fill: $accent-3;
    }
}
