@import 'styles/colors/colors';
@import 'styles/variables';
@import 'styles/mixins';

.burger-menu {
  @include column-flex;
  @include mobile-100vh;

  --menu-width: 60vw;

  justify-content: space-between;
  position: fixed;
  top: $header-height;
  left: 100%;
  width: var(--menu-width);
  background-color: $grayscale-1;
  z-index: 101;
  padding: 16px;
  transform: translateX(0);
  transition: transform $default-transition ease;

  &__main,
  &__secondary {
    @include column-flex(16px);
  }

  &--opened {
    transform: translateX(calc(-1 * var(--menu-width)));
  }

  @include mobile {
    --menu-width: 100vw;
    max-height: 80vh;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: $header-height;
  width: 100vw;
  height: calc(100vh - $header-height);
  z-index: 100;
  background-color: $constant-black;
  opacity: 0;
  transition: opacity $default-transition ease;
  backdrop-filter: blur(10px);

  &--visible {
    opacity: 0.75;
  }
}
