.content-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}

.chart{
    grid-column: 1/10;
    grid-row: 1;
}

.history{
    grid-column: 1/10;
    grid-row: 2;
}
