$dark-theme: (
  grayscale: (
    -1: #0F0E10,
    -2: #161418,
    -3: #211E24,
    -4: #322C35,
    -5: #46404A,
    -6: #5F5B65,
    -7: #76707C,
    -8: #908A98,
    -9: #B1A9B7,
    -10: #D6D0DA,
    -11: #FCF5FF,
    -12: #FFFFFF,
    -card: #1B171C,
    -input: #060506,
  ),
  accent: (
    -1: #B78BD8,
    -2: #A25CD6,
    -3: #8E13EC,
    -4: #550B8D,
    -5: #371056,
    -6: #281B31,
  ),
  green: (
    -1: #84E088,
    -2: #5CD662,
    -3: #17CE1F,
    -4: #0B8D11,
    -5: #105613,
    -6: #0E250F,
  ),
  red: (
    -1: #E08484,
    -2: #D65C5C,
    -3: #EC1313,
    -4: #8D0B0B,
    -5: #561010,
    -6: #250E0E,
  ),
  orange: (
    -1: #E0B684,
    -2: #D69E5C,
    -3: #EC8813,
    -4: #8D520B,
    -5: #563610,
    -6: #251A0E,
  ),
  blue: (
    -1: #84A9E0,
    -2: #5C8DD6,
    -3: #136AEC,
    -4: #0B3F8D,
    -5: #102C56,
    -6: #0E1725,
  ),
);
