@import '../../../styles/variables.scss';

.landing-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    .main-bg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -10%);
        z-index: -1;
    }
}

.landing-container {
    padding: 15px;
    max-width: 1390px;
    display: flex;
    flex-direction: column;
    row-gap: 150px;
    padding-top: 50px;
}

.greeting-block {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;

    .extra-text {
        max-width: 55ch;
        margin: 30px 0px 100px 0px;
    }

    .button > p {
        color: white;
    }
}

.greeting-text__input-block {
    display: flex;
    align-items: flex-end;
    column-gap: 30px;
}

h1 {
    max-width: 20ch;

    span {
        color: $activeBorder;
    }
}

.popular-coins {
    .coins {
    }
}
