@import 'styles/colors/colors';

.setting {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1.5fr 2fr;
}

.buttons {
    display: flex;
    column-gap: 20px;
    justify-content: flex-end;
    grid-column: 3/-1;
}

.active-state {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.icon-checkmark {
    width: 12px;
    height: 100%;
    fill: $green-3;
}

.icon-cross {
    width: 12px;
    height: 100%;
    fill: $red-3;
}
