@import 'styles/mixins';
@import 'styles/variables';
@import 'styles/colors/colors';

.actions {
    @include column-flex(8px);

    button {
        width: fit-content;
    }
}

.password-postfix {
    fill: $grayscale-11;
    padding: 0 8px;
    width: fit-content;
    cursor: pointer;
    transition: fill $default-transition;
    
    &:hover {
        fill: $accent-3;
    }
}

.register-action {
    display: flex;
    column-gap: 1ch;
}
