@import 'styles/colors/colors';
@import 'styles/mixins';

.wallet {
    @include column-flex(16px);
    width: 100%;
}

.wallet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns {
    @include align-center-row-flex(16px);
}

.wallet-card {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.wallet-items {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
}

.balance-item {
    @include column-flex(4px);

    &__label {
        color: $grayscale-6;
    }

    &__value::after {
        content: ' USDT';
    }
}

@media screen and (max-width: 800px) {
    .wallet-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .btns {
        margin: 8px 0 0;
    }
}