.content-wrapper {
    width: 490px;

    padding: 40px !important;
}

.container-header {
    font-size: 36px;
}

.container-text {
    margin: 10px 0 30px;
}

.button-wrapper {
    margin-top: 40px;
}