@import 'styles/colors/colors';
@import 'styles/mixins';

$one-column-bp: 800;

.container {
  @include column-flex(16px);
}

.header {
  @include align-center-row-flex(8px);

  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    row-gap: 12px;
    align-items: baseline;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @include max-width($one-column-bp) {
    grid-template-columns: 1fr;
  }
}

.balance-card {
  @include column-flex(16px);

  padding: 16px;

  &__label {
    color: $grayscale-6;
  }
}

.chart {
  width: 100%;
  max-width: calc($dashboard-max-width / 2);

  // left/right pad (16px) + gap / 2
  @include max-width($early-laptop-bp) {
    max-width: calc(50vw - 24px);
  }

  // left/right pad (16px) * 2
  @include max-width($one-column-bp) {
    max-width: calc(100vw - 32px);
  }
}
