@import 'styles/colors/colors';
@import 'styles/mixins';

.item-type {
    &--withdrawal {
        color: $red-3;
    }

    &--income {
        color: $green-3;
    }
}

.item-status {
    font-size: 10px;
    width: max(70px, 100%);
    padding: 4px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;

    &--processing {
        @include with-alpha-background($orange-6, 0.2);
        color: $orange-3;
    }

    &--confirmed {
        @include with-alpha-background($green-6, 0.2);
        color: $green-3;
    }
}

.item-destination {
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    column-gap: 8px;
    p {
        @include nowrap-overflow;
        max-width: 80%;
    }
}
