// global variables

$projectButton : #A176C1;
$activeBorder  : #9043CA;
$buttonText    : #FFFFFF;
$mainActive    : #511182;
$activeBG      : #F9F1FF;
$grayBorder    : #E6E6E6;
$green         : #87D385;
$greenHover    : #64B657;
$greenActive   : #316c28;
$red           : #FF9393;
$redHover      : #DA7070;
$redActive     : #ae1c1c;
$grayText      : #9D9D9D;
$graySeparator : #F7F7F7;

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.ttf') format('.ttf'),
         url('../fonts/Rubik-Black.ttf') format('.ttf'),
         url('../fonts/Rubik-BlackItalic.ttf') format('.ttf'),
         url('../fonts/Rubik-Bold.ttf') format('.ttf'),
         url('../fonts/Rubik-BoldItalic.ttf') format('.ttf'),
         url('../fonts/Rubik-ExtraBold.ttf') format('.ttf'),
         url('../fonts/Rubik-ExtraBoldItalic.ttf') format('.ttf'),
         url('../fonts/Rubik-Italic.ttf') format('.ttf'),
         url('../fonts/Rubik-Light.ttf') format('.ttf'),
         url('../fonts/Rubik-LightItalic.ttf') format('.ttf'),
         url('../fonts/Rubik-Medium.ttf') format('.ttf'),
         url('../fonts/Rubik-MediumItalic.ttf') format('.ttf'),
         url('../fonts/Rubik-SemiBold.ttf') format('.ttf'),
         url('../fonts/Rubik-SemiBoldItalic.ttf') format('.ttf');
}

* {
    font-family: 'Rubik', sans-serif;
}

// Common things

@mixin icon-container-actions {
    cursor: pointer;

    &::before, &::after {
        display: block;
        content: '';
    
        position: absolute;
        top: 50%;
        left: 50%;
    
        transform: translate(-50%, -50%);

        transition: background-color .5s;
    }

    &:hover {
        &::before, &::after {
            background-color: $activeBorder;
        }
    }

    &:active {
        &::before, &::after {
            background-color: $mainActive;
        }
    }
}

.minus-icon {
    position: relative;

    width: 26px;
    height: 26px;

    @include icon-container-actions();

    &::after {

        width: 26px;
        height: 4px;

        background-color: #D9D9D9;
    }
}

.plus-icon {
    position: relative;

    width: 26px;
    height: 26px;

    @include icon-container-actions();

    &::after {
        width: 26px;
        height: 4px;

        background-color: #D9D9D9;
    }

    &::before {
        width: 4px;
        height: 26px;

        background-color: #D9D9D9;
    }    
}

// Buttons

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    box-sizing: border-box;

    cursor: pointer;

    transition: background-color .5s;
}

.button-primary {
    background-color: $projectButton;
    color: $buttonText;      
}

.button-primary:hover, .button-secondary:hover {
    background-color: $activeBorder;
    color: $buttonText;
    border: none;
}

.button-primary:active {
    background-color: $mainActive;
}

.button-secondary {
    background-color: $activeBG;
    color: $projectButton;
    border: 1px solid $activeBorder;
}

.button-secondary:active {
    background-color: $mainActive;
    color: $buttonText;
    border: none;
}

.button-disabled {
    background-color: $activeBG;
    color: $grayBorder;

    cursor: not-allowed;
}

.button-accept {
    background-color: $green;
    color: $buttonText;
}

.button-accept:hover {
    background-color: $greenHover;
}

.button-accept:active {
    background-color: $greenActive;
}

.button-decline {
    background-color: $red;
    color: $buttonText;
}

.button-decline:hover {
    background-color: $redHover;
}

.button-decline:active {
    background-color: $redActive;
}

// Header

$headerHeight : 72px;

.page-header {
    width: 100vw;
    height: $headerHeight;
    
    padding: 0 30px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-side, .header-right-side {
    display: flex;
}

.header-left-side {
    .logo {
        padding-right: 40px;
    }
}

.header-right-side {
    div {
        height: 32px;

        display: flex;
        align-items: center ;
        margin-left: 40px;

        transition: color .5s;

        cursor: pointer;

        span {
            margin-left: 10px;
        }

        &:hover {
            color: $projectButton;
        }

        &:active {
            color: $mainActive;
        }
    }
}

.custom-select {
    position: relative;

    select {
        border: none;
    }    
}

// pop-up

@keyframes popUpEmerge {
    0% {
        transform: translateX(60px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes popUpBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.popup-container {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    .popup-background {
        position: absolute;
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;

        z-index: 10000;

        background: rgba(52, 44, 44, 0.3);
        backdrop-filter: blur(10px);

        animation: popUpBackground .4s;
    }

    .popup {
        width: 447px;
        box-sizing: border-box;
    
        padding: 30px 20px;

        background-color: $buttonText;
        border-radius: 20px;

        display: flex;
        flex-direction: column;

        position: relative;
        z-index: 10001;

        animation: popUpEmerge .4s ease-out;
        
        .popup-header {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;

            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            

            span {
                max-width: 80%;
                white-space: pre-line;
            }

            svg {
                width: 24px;
                height: 24px;
                color: $grayBorder;

                cursor: pointer;

                transition: color .5s;

                &:hover {
                    color: $grayText;
                }
            }
        }

        .popup-content {
            flex-grow: 1;

            margin-top: 40px;
        }

        .popup-bottom-button {
            width: 100%;
            height: 47px;

            border-radius: 20px;

            font-weight: 700;
            font-size: 16px;
        }
    }
}

// credit lever pop-up

.credit-lever-header {
    color: $grayText;
    font-size: 14px;
}

.credit-lever-display {
    display: flex;

    height: 50px;

    margin-top: 10px;
    padding: 0 15px;
    box-sizing: border-box;

    align-items: center;

    background-color: $graySeparator;
    border: solid 1px $grayBorder;
    border-radius: 5px;
}

.credit-lever-level {
    flex-grow: 1;

    font-size: 20px;
    
    text-align: center;
}

.slider-lever-container {
    height: 17px;
    font-size: 14px;
    font-weight: 300;
    padding: 15px 0 7px;

    
    color: $grayText;
    transition: opacity .2s;
}

// .lever-range-selector {
//     height: 5px;
//     accent-color: $projectButton;
// }

// .lever-range-selector::-webkit-slider-thumb {
//     background: #030003;
//     cursor: pointer;
//     -webkit-appearance: none;
//     // margin-top: -7px;
// }

.lever-range-selector {
    height: 5px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    
    &:focus {
        outline: none;
    }
    
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        
        cursor: pointer;
        animate: 0.2s;

    
        background-color: transparent;
    }

    &::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: $activeBorder;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -14px;
        position: relative;
        z-index: 9999;
    }
    
    &::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: #A176C1;
    }

    &::-moz-range-thumb {
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: #9043CA;
        cursor: pointer;
    }

    &::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    
    &::-ms-fill-lower {
        background: #A176C1;;
    }
    
    &::-ms-fill-upper {
        background: #A176C1;
    }
    
    &::-ms-thumb {
        margin-top: 1px;
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: #9043CA;
        cursor: pointer;
    }
    
    &:focus::-ms-fill-lower {
        background: #A176C1;
    }
    
    &:focus::-ms-fill-upper {
        background: #A176C1;
    }
}

.leverage-list {
    display: flex;
    justify-content: space-between;
    
    font-weight: 300;
    font-size: 14px;

    color: $grayText;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;   
}

.leverage-list {
    option {
        width: 35px;
        position: relative;

        &::before {
            display: block;
            content: '';

            box-sizing: border-box;

            width: 9px;
            height: 9px;
            border-radius: 50%;
            
            background-color: $activeBorder;
            border: 2px solid $activeBG;

            position: absolute;
            top: -17px;

            cursor: pointer;
            // transition: border .5s;

        }
        &:hover::before {
            filter: brightness(150%);
            -webkit-filter: brightness(150%);
            -moz-filter: brightness(150%);
        }

        // анальные игрища

        &:nth-child(1)::before {
            left: 3px;
        }

        &:nth-child(2)::before {
            left: 5.5px;
        }

        &:nth-child(3)::before {
            left: 10px;
        }

        &:nth-child(4)::before {
            left: 16px;
        }

        &:nth-child(5)::before {
            left: 21.5px;
        }

        &:nth-child(6)::before {
            right: 2.5px;
        }
    }

    .passed::before {
        border: 1px solid $buttonText !important;
    }
}

.lever-info {
    margin-bottom: 40px;

    ul {
        width: 80%;
        padding-left: 20px;

        color: $grayText;

        font-size: 14px;
        
        li {
            overflow-y: hidden;
            transition: max-height 0.2s ease-out;
            margin-bottom: 20px;
        }
    }

    .lever-warn {
        display: flex;
    
        color: $red;
    
        svg {
            position: relative;
            top: -5px;
        }
    
        span {
            width: 90%;
            font-size: 14px;
            white-space: pre-line;
        }
    }
}

// margin select popup

.margin-selector {
    display: flex;

    div {
        width: 50%;
        box-sizing: border-box;

        padding: 7px 0;

        text-align: center;
        font-size: 14px;
        color: $grayText;
        cursor: pointer;

        border: 1px solid $grayBorder;

        transition: color .4s, border-color .4s, background-color .4s;

        &:first-child {
            border-radius: 5px 0px 0px 5px;
        }

        &:last-child {
            border-radius: 0px 5px 5px 0px;
        }

        &:hover {
            border-color: $projectButton;
            color: $projectButton;
        }
    }

    .active {
        border-color: $activeBorder;
        color: $activeBorder;
        background-color: $activeBG;

        &:hover {
            border-color: $activeBorder;
            color: $activeBorder;
        }
    }
}

.margin-text {
    p {
        font-weight: 400;
        font-size: 14px;
    
        color: $grayText;
        line-height: 17px;

        &:first-child {
            padding-bottom: 25px;
            margin-bottom: 25px;

            border-bottom: 1px solid $graySeparator;
        }

        &:last-child {
            margin: 25px 0 40px;
        }
    }
}
