* {
    font-family: 'Rubik', sans-serif;
}

// Common things

.minus-icon {
    width: 26px;
    height: 26px;

    &::after {
        width: 26px;
        height: 4px;

        background-color: #D9D9D9;
    }
}

// Buttons

$projectButton : #A176C1;
$activeBorder  : #9043CA;
$buttonText    : #FFFFFF;
$mainActive    : #511182;
$activeBG      : #F9F1FF;
$grayBorder    : #E6E6E6;
$green         : #87D385;
$greenHover    : #64B657;
$greenActive   : #316c28;
$red           : #FF9393;
$redHover      : #DA7070;
$redActive     : #ae1c1c;

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    box-sizing: border-box;

    cursor: pointer;

    transition: background-color .5s;
}

.button-primary {
    background-color: $projectButton;
    color: $buttonText;      
}

.button-primary:hover, .button-secondary:hover {
    background-color: $activeBorder;
    color: $buttonText;
    border: none;
}

.button-primary:active {
    background-color: $mainActive;
}

.button-secondary {
    background-color: $activeBG;
    color: $projectButton;
    border: 1px solid $activeBorder;
}

.button-secondary:active {
    background-color: $mainActive;
    color: $buttonText;
    border: none;
}

.button-disabled {
    background-color: $activeBG;
    color: $grayBorder;

    cursor: not-allowed;
}

.button-accept {
    background-color: $green;
    color: $buttonText;
}

.button-accept:hover {
    background-color: $greenHover;
}

.button-accept:active {
    background-color: $greenActive;
}

.button-decline {
    background-color: $red;
    color: $buttonText;
}

.button-decline:hover {
    background-color: $redHover;
}

.button-decline:active {
    background-color: $redActive;
}

// Header

$headerHeight : 72px;

.page-header {
    width: 100vw;
    height: $headerHeight;
    
    padding: 0 30px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-side, .header-right-side {
    display: flex;
}

.header-left-side {
    .logo {
        padding-right: 40px;
    }
}

.header-right-side {
    div {
        height: 32px;

        display: flex;
        align-items: center ;
        margin-left: 40px;

        transition: color .5s;

        cursor: pointer;

        span {
            margin-left: 10px;
        }

        &:hover {
            color: $projectButton;
        }

        &:active {
            color: $mainActive;
        }
    }
}

.custom-select {
    position: relative;

    select {
        display: none;
    }

    
}

.popup-container {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    .popup-background {
        position: absolute;
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;

        z-index: 10000;

        background: rgba(52, 44, 44, 0.3);
        backdrop-filter: blur(10px);
    }

    .popup {
        width: 447px;
        height: 515px;
        box-sizing: border-box;
    
        padding: 30px 20px;

        background-color: $buttonText;
        border-radius: 20px;

        display: flex;
        flex-direction: column;

        position: relative;
        z-index: 10001;
        
        .popup-header {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;

            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            

            span {
                max-width: 60%;
            }

            svg {
                width: 24px;
                height: 24px;
                color: $grayBorder;

                cursor: pointer;
            }
        }

        .popup-content {
            flex-grow: 1;

            margin-top: 40px;
        }

        .popup-bottom-button {
            width: 100%;
            height: 47px;

            border-radius: 20px;

            font-weight: 700;
            font-size: 16px;
        }
    }
}