@import 'styles/colors/colors';
@import 'styles/mixins';

.invest {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    column-gap: 60px;
    align-items: center;
    position: relative;
    justify-items: end;

    &__text {
        @include column-flex(20px);
        align-items: flex-start;
        max-width: 50ch;

        h2 {
            max-width: 18ch;

            span {
                color: $accent-3;
            }
        }
    }

    &__image {
        position: relative;
        width: 100%;
        height: 100%;

        .grid,
        .gradient,
        .line {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .grid {
            stroke: $grayscale-5;
        }

        .gradient {
            fill: $green-3;
            mask-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
        }

        .line {
            bottom: 23px;
            stroke: $green-3;
        }
    }
}

.month-cards {
    @include align-center-row-flex(20px);

    padding: 20px 0px;
}

.ROE-card {
    background-color: $grayscale-1;
    border-radius: 10px;
    padding: 12px;
    min-width: 100px;

    &__month {
        margin-bottom: 10px;
    }

    &__percent {
        color: $green-3;
        padding-top: 4px;
    }
}
