@import 'styles/colors/colors';
@import 'styles/mixins';

.line-chart {
  @include column-flex(24px);

  width: 100%;

  &__main {
    @include column-flex(8px);
  }

  &__chart {
    display: flex;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;

    .chart-line {
      @include color-index-map(3);

      height: 12px;

      &--empty {
        width: 100%;
        border: 1px solid $grayscale-4;
        border-radius: 12px;
      }
    }
  }

  &__names {
    @include column-flex(12px);

    width: 100%;

    .chart-line-item {
      @include align-center-row-flex;

      justify-content: space-between;
      width: 100%;

      &__name-block {
        @include align-center-row-flex(8px);
      }

      &__color-border {
        @include color-index-map(3);

        height: 18px;
        width: 3px;
        border-radius: 2px;
      }
    }
  }
}
