@import 'styles/mixins';

.investor-chart {
  min-height: 250px;
  height: 250px;

  &__header {
    @include align-center-row-flex(8px);

    justify-content: space-between;
    padding: 16px 16px 0 16px;

    @include mobile {
      padding: 8px 8px 0 8px;
    }
  }

  &__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    min-height: 250px;
    max-width: 100%;

    svg {
      background-color: transparent !important;
    }
  }

  .comission-block {
    @include align-center-row-flex(8px);
  }
}
