@import 'styles/mixins';

.investor-chart {
  min-height: 250px;
  height: 250px;

  &__header {
    @include align-center-row-flex(8px);

    justify-content: space-between;
  }

  &__wrapper {
    height: 100%;
  }

  .comission-block {
    @include align-center-row-flex(8px);
  }
}
