@import 'styles/mixins.scss';
@import 'styles/variables.scss';
@import 'styles/colors/colors.scss';

.back-action {
    display: flex;
    align-items: center;
    transition: margin 0.35s;
    margin-left: 0px;
    color: $grayscale-11;

    @include size-svg(30px, 30px);
    svg {
        transform: rotate(90deg);
        fill: $grayscale-11;
    }

    &:hover {
        margin-left: -16px;
    }
}

.card {
    margin-top: 16px;
    max-width: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.disclaimer {
    @include column-flex(8px);
    &__item {
        list-style: disc inside;
        span {
            font-weight: 500;
        }
    }
}
