@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/colors/colors';

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 48px;
  width: 100%;
  max-width: 1280px;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
  z-index: 2;

  @include max-width(1100) {
    justify-content: center;
  }
}


