@import '../../../styles/variables.scss';

.investor-view-wrapper__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 16px;
}

.header {
    font-size: 14px;
    font-weight: lighter;
    color: $grayscale9;

    line-height: 20px;
}

.investor-income {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
}

.investor-income-amount,
.investor-balance-amount {
    font-size: 20px;
    font-weight: 500;
    color: $grayscale11;
}

.investor-income-percent {
    font-size: 16px;
    color: $green;
}

.investor-balance,
.investor-invest {
    margin-top: 20px;
}

.button-wrapper {
    margin-top: 20px;

    display: flex;
    justify-content: center;
}

.investor-prediction-period {
    margin-top: 30px;
}


.all-balance-btn{
    font-size: 12px;
    color: $activeBorder;
    font-weight: 600;
    width: 15ch;
    padding-right: 12px;
}