@import 'styles/colors/colors';
@import 'styles/mixins';

.actions-card {
  @include column-flex(24px);

  .toggle-group-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 12px;
  }

  @include max-width(800) {
    grid-row: 2;
  }
}

.data-card {
  @include column-flex(16px);

  &__row {
    @include align-center-row-flex(16px);

    justify-content: space-between;
  }

  @include max-width(800) {
    grid-row: 3;
  }
}

.investor-view-card {
  padding: 16px;
}

.PNL-card {
  grid-column: 2;
  grid-row: 3;
  width: 100%;
  overflow: hidden;

  @include max-width(1200) {
    grid-column: 1;
    grid-row: 2;
  }

  @include max-width(800) {
    grid-row: 4;
  }
}

.ROE-card {
  grid-row: 4;
  width: 100%;
  overflow: hidden;

  @include max-width(1200) {
    grid-column: 1;
    grid-row: 3;
  }

  @include max-width(800) {
    grid-row: 5;
  }
}

.history-tooltip {
  @include max-width(400) {
    span {
      display: none;
    }
  }
}
