@import 'styles/mixins';

.container {
  display: grid;
  place-items: center;
  position: relative;

  .wrapper {
    @include column-flex-center(48px);

    @include mobile {
      row-gap: 24px;
    }
  }

  h2 span {
    color: $accent-3;
  }

  .slider {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 16px;
    align-items: end;

    @include max-width($laptop-bp) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 16px;

      > div {
        height: 100%;
      }

      .primary-card {
        grid-column: 2/4;
        grid-row: 1/3;

        > div {
          height: 100%;
          justify-content: center;
          margin-bottom: 0;

          div {
            transform: scale(1.5);
          }
        }
      }
    }

    @include max-width($early-mobile-bp) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      row-gap: 16px;

      .primary-card {
        grid-column: 1/3;
        grid-row: 1/2;

        > div {
          height: 100%;

          div {
            transform: scale(1);
          }
        }
      }
    }

    @include mobile {
      row-gap: 8px;
      column-gap: 8px;
    }
  }
}
