@import 'variables';

:export {
    headerHeight: $header-height;
    defaultTransition: $default-transition;
    laptopBp: $laptop-bp;
    mobileBp: $mobile-bp;
    earlyMobileBp: $early-mobile-bp;

    HEADER_HEIGHT: $header-height;
    DEFAULT_TRANSITION: $default-transition;
    LAPTOP_BP: $laptop-bp;
    MOBILE_BP: $mobile-bp;
    EARLY_MOBILE_BP: $early-mobile-bp;
}
