@import 'variables';

:export {
    headerHeight: $header-height;
    defaultTransition: $default-transition;
    laptopBp: $laptop-bp;
    mobileBp: $mobile-bp;
    earlyMobileBp: $early-mobile-bp;
}
