$projectButton: #a176c1;
$activeBorder: #9043ca;
$buttonText: #ffffff;
$mainActive: #511182;
$activeBG: #f9f1ff;
$grayBorder: #e6e6e6;
$green: #87d385;
$greenHover: #64b657;
$greenActive: #316c28;
$red: #ff9393;
$redHover: #da7070;
$redActive: #ae1c1c;
$grayText: #9d9d9d;
$graySeparator: #f7f7f7;
