$projectButton: #a176c1;
$activeBorder: #9912ff;
$buttonText: #ffffff;
$mainActive: #511182;
$textColor: #4e3660;
$activeBG: #f9f1ff;
$grayBorder: #e6e6e6;
$green: #87d385;
$greenHover: #64b657;
$greenActive: #316c28;
$red: #ff9393;
$redHover: #da7070;
$redActive: #ae1c1c;
$grayText: #9d9d9d;
$graySeparator: #f7f7f7;
$orange: #f6c64a;

$header-height: 60px;


// Palette

// Grayscale
$grayscaleCard: #FFF;
$grayscaleInput: #FFF;
$grayscale1: #FFF;
$grayscale2: #F2F3F7;
$grayscale3: #E2E2EA;
$grayscale4: #C6CBD9;
$grayscale5: #9A9AAF;
$grayscale6: #7E7E8F;
$grayscale7: #656575;
$grayscale8: #535362;
$grayscale9: #2E2E3A;
$grayscale10: #262631;
$grayscale11: #16161E;
$grayscale12: #07070C;

// Accent
$accent1: #0062FF;
$accent2: #4C90FE;
$accent3: #89B6FF;
$accent4: #CADEFF;
$accent5: #0062FF;
$accent6: #0062FF;

// Blue
$blue1: #003482;
$blue2: #0052CC;
$blue3: #1A75FF;
$blue4: #99C2FF;
$blue5: #CCE0FF;
$blue6: #F0F6FF;