@import 'styles/colors/colors';
@import 'styles/mixins';

.blur {
  --ellipse-ratio: 1.56;

  position: absolute;
  border-radius: 50%;
  --bg-item-height: 70vh;
  opacity: 0.1;
  z-index: -1;
  filter: blur(clamp(20px, 5 * (1vw + 1vh), 170px));
  height: clamp(200px, 80vw, 700px);
  will-change: filter; //ооочень важно для safari

  &_ellipse {
    aspect-ratio: 1.56 / 1;
  }

  &_circle {
    aspect-ratio: 1 / 1;
  }

  &_color {
    &--purple {
      background-color: $accent-3;
    }

    &--red {
      background-color: $red-3;
    }

    &--green {
      background-color: $green-3;
    }

    &--blue {
      background-color: $blue-3;
    }
  }
}
