@import 'styles/colors/colors';
@import 'styles/mixins';

.settings {
  @include column-flex(16px);

  width: 100%;
}

.setting-card {
  @include column-flex(16px);

  padding: 16px;
  width: 100%;
  max-width: 500px;
}

.setting-item {
  @include align-center-row-flex(16px);

  justify-content: space-between;

  &__title {
    @include align-center-row-flex(8px);
  }

  &__icon-wrapper {
    @include color-svg($grayscale-6);

    background-color: $grayscale-2;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid transparent;

    &--dark {
      border-color: $grayscale-4;
    }
  }
}

.card-label {
  color: $grayscale-6;
}
