@import 'styles/colors/colors';
@import 'styles/mixins';
@import 'styles/shadows';
@import 'styles/variables';

.password-validator {
  @include column-flex(4px);
  @include menu-shadow();

  --left-offset: 92px;

  position: absolute;
  padding: 12px;
  border-radius: 8px;
  background-color: $grayscale-card;
  width: 29ch;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + var(--left-offset));
  transition: left $default-transition ease, opacity $default-transition ease;
  opacity: 0;
  z-index: 10;

  &--visible {
    --left-offset: 48px;
    opacity: 1;
  }

  &__item {
    @include color-svg($red-3);
    transition: color $default-transition ease;

    svg {
      transition: fill $default-transition ease;
    }

    &--valid {
      @include color-svg($green-3);
    }
  }
}
