@import 'src/styles/colors/colors';

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 20px;
    height: 16px;

    cursor: pointer;
}

.burger-stripe {
    width: 100%;
    height: 2px;

    background-color: $grayscale-12;

    transition: width .2s;
}

.burger-active {
    .burger-stripe {
        width: 2px;
    }
}