@import 'styles/mixins';
@import 'styles/colors/colors';

.prediction-period {
  @include column-flex(4px);

  &__label {
    color: $grayscale-9;
    margin-top: 24px;
  }
}

.button-wrapper {
    margin-top: 24px;
}