@import 'styles/mixins';

.container {
  display: grid;
  place-items: center;
  position: relative;

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 48px;

    @include max-width($laptop-bp) {
      flex-direction: column-reverse;
      row-gap: 32px;
    }
  }

  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 16px;
  }

  .info {
    @include column-flex(48px);

    max-width: 512px;
  }
}
