@import 'styles/colors/colors';
@import 'styles/mixins';

.wallet {
  @include column-flex(16px);

  width: 100%;
}

.wallet-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;

  @include max-width(650) {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}

.btns {
  @include align-center-row-flex(16px);

  justify-content: flex-end;
  width: 100%;

  @include max-width(650) {
    justify-content: initial;
  }
}

.wallet-card {
  padding: 16px;
}

.balance-item {
  @include column-flex(16px);

  &__label {
    color: $grayscale-6;
  }

  &__value::after {
    content: ' USDT';
  }
}
