@import '../../styles/variables.scss';

.header {
    display: flex;
    padding: 15px 30px;
    column-gap: 50px;
    align-items: center;
    position: relative;
    background-color: white;
    border-bottom: 1px solid $grayBorder;
}

.logo {
    cursor: pointer;
    fill: $activeBorder;
    transition: 0.25s;

    &:hover {
        fill: $mainActive;
    }
}

.links {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__main,
    &__user {
        display: flex;
        column-gap: 30px;
    }
}
