@import 'styles/variables.scss';
@import 'styles/colors/colors.scss';

.header {
    display: flex;
    padding: 8px 30px;
    align-items: center;
    position: relative;
    background-color: $grayscale-1;
    border-bottom: 1px solid $grayscale-4;
    height: $header-height;
}

.logo {
    cursor: pointer;
    fill: $accent-3;
    transition: fill $default-transition ease;

    &:hover {
        fill: $accent-2;
    }
}

.links {
    margin-left: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__main,
    &__user {
        display: flex;
        column-gap: 30px;
        align-items: center;
    }

    .burger-button-wrapper {
        display: none;
    }
}


@media screen and (max-width: 800px) {
    .links {
        margin-left: 0px;
        justify-content: flex-end;

        &__main,
        &__user {
            display: none;
        }

        .burger-button-wrapper {
            display: block;
        }
    }

    .wide__btn {
        width: 100%;

        button {
            width: 100%;
        }
    }

    .exit__btn {
        position: absolute;
        bottom: 16px;
    }
}