@import 'styles/colors/colors';
@import 'styles/mixins';
@import 'styles/shadows';

@mixin base-table($breakpoint: 700) {
  width: 100%;
  border-collapse: collapse;

  @include max-width($breakpoint) {
    tbody {
      @include column-flex(8px);
    }
  }

  thead tr {
    color: $grayscale-6;

    th {
      padding: 12px 4px;
      text-align: left;
      font-weight: inherit;
    }

    @include max-width($breakpoint) {
      display: none;
    }
  }

  tr {
    width: 100%;
    border-bottom: 1px solid $grayscale-4;
    background-color: $grayscale-card;
  }

  tbody tr {
    td {
      padding: 12px 4px;
      height: 100%;
    }

    @include max-width($breakpoint) {
      @include card-shadow;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      row-gap: 12px;
      padding: 8px;
      border: none;
      border-radius: 8px;

      td {
        @include column-flex(4px);

        padding: 8px;
        width: fit-content;
      }
    }
  }

  .body-label {
    color: $grayscale-6;

    @include min-width(calc($breakpoint + 1)) {
      display: none;
    }
  }
}
