@import 'styles/colors/colors';
@import 'styles/mixins';

.container {
    position: relative;
    margin-bottom: 200px;
}

.contact-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: $grayscale-card;
    padding: 60px;
    border-radius: 16px;
    position: relative;
    z-index: 2;
}

.title {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

h2 > span {
    color: $accent-3;
}

.links {
    max-width: 45ch;

    &__buttons {
        padding-top: 20px;
        display: flex;
        column-gap: 20px;
    }
}

.contact-button {
    width: 100%;
    justify-content: center;
}

.abstract-grid--L {
    position: absolute;
    top: -70px;
    left: -30px;
}

.abstract-grid--M {
    position: absolute;
    bottom: -50px;
    right: -30px;
}
